@{
    Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Hakkımızda
                </h1>
                <p class="text-white link-nav"><a href="/">Ana Sayfa</a><span class="lnr lnr-arrow-right"></span>  <a href="#"> Hakkımızda</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Neden Kariyer Rotası'na Katılmalısınız?</h1>
                <p>
                    Kariyer Rotası, iş arama sürecinizi kolaylaştırmak ve kariyerinizde yeni rotalar keşfetmeniz için ideal bir platformdur. İşte size sunduğumuz avantajlar:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-rocket"></span>Geniş İş İlanları Ağı</h4>
                    <p>
                        Binlerce iş ilanı arasından size en uygun olanı bulun.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-bubble"></span>Doğrudan İletişim</h4>
                    <p>
                        Potansiyel işverenlerle doğrudan iletişim kurma fırsatı yakalayın.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-phone"></span>Gelişmiş Arama Filtreleri</h4>
                    <p>
                        İhtiyaçlarınıza uygun işleri hızlıca bulun.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-user"></span>Başvuruları Yönetin</h4>
                    <p>
                        Başvurularınızı kolayca yönetin ve takip edin.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-diamond"></span>Şirketinizi Tanıtın</h4>
                    <p>
                        Şirketinizin marka değerini artırın ve itibarınızı güçlendirin.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-license"></span>Kariyerinizi Şekillendirin</h4>
                    <p>
                        Kariyer Rotası'na katılarak kariyerinizi şekillendirin ve geleceğinize doğru emin adımlarla ilerleyin!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->
<!-- Start feature Area -->
<section class="feature-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 feat-img no-padding">
                <img src="~/assets/user/img/pages/f1.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase text-white">İşte Kariyerinizin Rotası</h6>
                <h1>Biz Kimiz</h1>
                <p>
                    İş dünyasında adım atmak isteyen herkes için en doğru rotayız. İş arayanlar için zengin iş ilanları, işverenler içinse potansiyel adaylarla doğrudan iletişim imkanı sağlayarak kariyer yolculuğunuzu destekleriz.
                </p>
            </div>
            <div class="col-lg-3 feat-img no-padding">
                <img src="~/assets/user/img/pages/f2.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase text-white">Geleceğe Adım Adım, Kariyer Rotasıyla</h6>
                <h1>Ne Yapıyoruz</h1>
                <p>
                    Kariyer Rotası olarak, iş arayanlar ve işverenler arasında köprü kurarak, herkesin kariyer rotasının en doğru yönde olmasını sağlıyoruz.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->

<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Bugün Çekinmeden Bize Katılın!</h1>
                    <p class="text-white">
                        Kariyer Rotası, iş arama sürecinizi kolaylaştırmak ve kariyerinizde yeni rotalar keşfetmeniz için ideal bir platformdur.
                    </p>
                    <p class="text-white">
                        Kariyer Rotası'na katılarak kariyerinizi şekillendirin ve geleceğinize doğru emin adımlarla ilerleyin!
                    </p>
                    <a class="primary-btn" href="#">Hemen Ücretsiz Üye Ol</a>
                    <a class="primary-btn" href="#">Şirket Hesabı Edin</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->
<!-- Start testimonial Area -->
@*<section class="testimonial-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Müşterilerimizden Gelen Tavsiyeler</h1>
                    <p>Çevre dostu sistemlere büyük ilgi gösterenler kimlerdir?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review">
                    <img src="~/assets/user/img/r1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz. Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz.
                    </p>
                </div>
                <div class="single-review">
                    <img src="~/assets/user/img/r2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz. Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz.
                    </p>
                </div>
                <div class="single-review">
                    <img src="~/assets/user/img/r1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz. Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz.
                    </p>
                </div>
                <div class="single-review">
                    <img src="~/assets/user/img/r2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz. Aksesuarlar Burada dizüstü bilgisayarınız, monitörünüz, yazıcınız, tarayıcınız, hoparlörünüz için en iyi bilgisayar aksesuarını bulabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>*@

<!-- End testimonial Area -->