@{
    Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Elemanlar
                </h1>
                <p class="text-white link-nav"><a href="/">Ana Sayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Elemanlar</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Banner Alanı Sonu -->
<!-- Örnek Alan Başlangıcı -->
<section class="sample-text-area">
    <div class="container">
        <h3 class="text-heading">Metin Örneği</h3>
        <p class="sample-text">
            Her tutkulu bağımsız film yapımcısı, yaratıcı yeteneklerini sergilemek için o koyu hayalindeki belgesel ya da kısa filmi yapma konusunda düşündü. Birçokları harika fikirlere sahip ve projeleriyle "vay" dedirtmek istiyorlar. Ancak bir kere <sup>Üstsimge</sup> tamamlandıktan sonra (kolay bir iş değil), el yazısıyla yazılmış başlık ve ikinci el bir CD kutusunda yer alan ustalar DVD'lerin arasından, poli ambalaj ve UPC barkodları ile dolu parlak yeni perakende hazır DVD kutuları yığınına nasıl geçilir? Profesyonel bir sonuç sağlamak için PacificDisc, Inc. gibi saygın bir DVD kopyalama şirketiyle işbirliği yapmak kesinlikle yardımcı bir seçenektir, ancak DVD kopyalama projenizde size yardımcı olmak için izlenecek 4 kolay adım:

        </p>
    </div>
</section>
<!-- Örnek Alan Sonu -->
<!-- Buton Başlangıcı -->
<section class="button-area">
    <div class="container border-top-generic">
        <h3 class="text-heading">Örnek Düğmeler</h3>
        <div class="button-group-area">
            <a href="#" class="genric-btn default">Varsayılan</a>
            <a href="#" class="genric-btn primary">Birincil</a>
            <a href="#" class="genric-btn success">Başarılı</a>
            <a href="#" class="genric-btn info">Bilgi</a>
            <a href="#" class="genric-btn warning">Uyarı</a>
            <a href="#" class="genric-btn danger">Tehlike</a>
            <a href="#" class="genric-btn link">Bağlantı</a>
            <a href="#" class="genric-btn disable">Devre Dışı</a>
        </div>
        <div class="button-group-area mt-10">
            <a href="#" class="genric-btn default-border">Varsayılan</a>
            <a href="#" class="genric-btn primary-border">Birincil</a>
            <a href="#" class="genric-btn success-border">Başarılı</a>
            <a href="#" class="genric-btn info-border">Bilgi</a>
            <a href="#" class="genric-btn warning-border">Uyarı</a>
            <a href="#" class="genric-btn danger-border">Tehlike</a>
            <a href="#" class="genric-btn link-border">Bağlantı</a>
            <a href="#" class="genric-btn disable">Devre Dışı</a>
        </div>
        <div class="button-group-area mt-40">
            <a href="#" class="genric-btn default radius">Varsayılan</a>
            <a href="#" class="genric-btn primary radius">Birincil</a>
            <a href="#" class="genric-btn success radius">Başarılı</a>
            <a href="#" class="genric-btn info radius">Bilgi</a>
            <a href="#" class="genric-btn warning radius">Uyarı</a>
            <a href="#" class="genric-btn danger radius">Tehlike</a>
            <a href="#" class="genric-btn link radius">Bağlantı</a>
            <a href="#" class="genric-btn disable radius">Devre Dışı</a>
        </div>
        <div class="button-group-area mt-10">
            <a href="#" class="genric-btn default-border radius">Varsayılan</a>
            <a href="#" class="genric-btn primary-border radius">Birincil</a>
            <a href="#" class="genric-btn success-border radius">Başarılı</a>
            <a href="#" class="genric-btn info-border radius">Bilgi</a>
            <a href="#" class="genric-btn warning-border radius">Uyarı</a>
            <a href="#" class="genric-btn danger-border radius">Tehlike</a>
            <a href="#" class="genric-btn link-border radius">Bağlantı</a>
            <a href="#" class="genric-btn disable radius">Devre Dışı</a>
        </div>
        <div class="button-group-area mt-40">
            <a href="#" class="genric-btn default circle">Varsayılan</a>
            <a href="#" class="genric-btn primary circle">Birincil</a>
            <a href="#" class="genric-btn success circle">Başarılı</a>
            <a href="#" class="genric-btn info circle">Bilgi</a>
            <a href="#" class="genric-btn warning circle">Uyarı</a>
            <a href="#" class="genric-btn danger circle">Tehlike</a>
            <a href="#" class="genric-btn link circle">Bağlantı</a>
            <a href="#" class="genric-btn disable circle">Devre Dışı</a>
        </div>
        <div class="button-group-area mt-10">
            <a href="#" class="genric-btn default-border circle">Varsayılan</a>
            <a href="#" class="genric-btn primary-border circle">Birincil</a>
            <a href="#" class="genric-btn success-border circle">Başarılı</a>
            <a href="#" class="genric-btn info-border circle">Bilgi</a>
            <a href="#" class="genric-btn warning-border circle">Uyarı</a>
            <a href="#" class="genric-btn danger-border circle">Tehlike</a>
            <a href="#" class="genric-btn link-border circle">Bağlantı</a>
            <a href="#" class="genric-btn disable circle">Devre Dışı</a>
        </div>
        <div class="button-group-area mt-40">
            <a href="#" class="genric-btn default circle arrow">Varsayılan<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn primary circle arrow">Birincil<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn success circle arrow">Başarılı<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn info circle arrow">Bilgi<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn warning circle arrow">Uyarı<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn danger circle arrow">Tehlike<span class="lnr lnr-arrow-right"></span></a>
        </div>
        <div class="button-group-area mt-10">
            <a href="#" class="genric-btn default-border circle arrow">Varsayılan<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn primary-border circle arrow">Birincil<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn success-border circle arrow">Başarılı<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn info-border circle arrow">Bilgi<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn warning-border circle arrow">Uyarı<span class="lnr lnr-arrow-right"></span></a>
            <a href="#" class="genric-btn danger-border circle arrow">Tehlike<span class="lnr lnr-arrow-right"></span></a>
        </div>
        <div class="button-group-area mt-40">
            <a href="#" class="genric-btn primary e-large">Çok Büyük</a>
            <a href="#" class="genric-btn success large">Büyük</a>
            <a href="#" class="genric-btn primary">Normal</a>
            <a href="#" class="genric-btn success medium">Orta</a>
            <a href="#" class="genric-btn primary small">Küçük</a>
        </div>
        <div class="button-group-area mt-10">
            <a href="#" class="genric-btn primary-border e-large">Çok Büyük</a>
            <a href="#" class="genric-btn success-border large">Büyük</a>
            <a href="#" class="genric-btn primary-border">Normal</a>
            <a href="#" class="genric-btn success-border medium">Orta</a>
            <a href="#" class="genric-btn primary-border small">Küçük</a>
        </div>
    </div>
</section>
<!-- End Button -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">Sola Hizalanmış</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/assets/user/img/elements/d.jpg" alt="">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>Son zamanlarda, ABD Federal hükümeti online casinoların Amerika'da işlemesini yasaklayarak onlara ABD bankası veya ödeme sistemi aracılığıyla para transferini yasakladı. Bu yasa sonucunda, Party Gaming ve PlayTech gibi popüler online casino ağlarının çoğu ABD'yi terk etti. Bir gecede, online casino oyuncuları Federal hükümet tarafından kovalanmaya başladılar. Ancak iki hafta sonra, online casino endüstrisi bir çözüm buldu ve yeni online casinolar filizlenmeye başladı. Bu casinolar farklı bir işletme çatısı altında faaliyet göstermeye başladılar ve böylece onlara para transferini yasal hale getirdiler. Bu sürecin önemli bir parçası, ABD'de oynamak isteyen oyuncuları kabul eden elektronik bankacılık sistemlerine kaydolmaktı.</p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right">
            <h3 class="mb-30">Sağa Hizalanmış</h3>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">Zamanla, en sofistike ve bellek dolu bilgisayar bile yavaşlayabilir eğer onları korumak için bir şey yapmazsak. Bu durumun nedeni, bilgisayarların nasıl yapıldığı ve yaşlandığından ziyade, onları nasıl kullandığımızla ilgilidir. Günlük olarak yaptığımız tüm görevler, program çalıştırmaktan yazılım indirip silmeye kadar, bilgisayarımızı yavaşlatabilir. Bunun önüne geçmek için bilgisayarınızın neden yavaşladığını anlamanız ve bilgisayarınızın en iyi performansta çalışmasını sağlamak için bir şeyler yapmanız gerekiyor. Bu, düzenli bakım ve PC performans optimizasyon programlarıyla mümkündür.</p>
                    <p class="text-right">PC'nizin performansını etkileyebilecek tüm faktörleri tartışmadan önce, belirtiler hakkında biraz konuşalım.</p>
                </div>
                <div class="col-md-3">
                    <img src="~/assets/user/img/elements/d.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Tanım</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Tanım 01</h4>
                        <p>Son zamanlarda, ABD Federal hükümeti online casinoların Amerika'da işlemesini yasaklayarak onlara ABD bankası veya ödeme sistemi aracılığıyla para transferini yasakladı. Bu yasa sonucunda, en popüler online casino ağlarının çoğu</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Tanım 02</h4>
                        <p>Son zamanlarda, ABD Federal hükümeti online casinoların Amerika'da işlemesini yasaklayarak onlara ABD bankası veya ödeme sistemi aracılığıyla para transferini yasakladı. Bu yasa sonucunda, en popüler online casino ağlarının çoğu</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Tanım 03</h4>
                        <p>Son zamanlarda, ABD Federal hükümeti online casinoların Amerika'da işlemesini yasaklayarak onlara ABD bankası veya ödeme sistemi aracılığıyla para transferini yasakladı. Bu yasa sonucunda, en popüler online casino ağlarının çoğu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Blok Alıntılar</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “Son zamanlarda, ABD Federal hükümeti online casinoların Amerika'da işlemesini yasaklayarak onlara ABD bankası veya ödeme sistemi aracılığıyla para transferini yasakladı. Bu yasa sonucunda, Party Gaming ve PlayTech gibi popüler online casino ağları ABD'yi terk etti. Bir gecede, online casino oyuncuları Federal hükümet tarafından kovalanmaya başladılar. Ancak iki hafta sonra, online casino endüstrisi bir çözüm buldu ve yeni online casinolar filizlenmeye başladı. Bu casinolar farklı bir işletme çatısı altında faaliyet göstermeye başladılar ve böylece onlara para transferini yasal hale getirdiler. Bu sürecin önemli bir parçası, ABD'de oynamak isteyen oyuncuları kabul eden elektronik bankacılık sistemlerine kaydolmaktı.”
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <h3 class="mb-30">Tablo</h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Ülkeler</div>
                        <div class="visit>Ziyaretler</div>
                        <div class="percentage">Yüzdeler</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">01</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f1.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">02</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f2.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">03</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f3.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">04</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f4.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-4" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">05</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f5.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-5" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">06</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f6.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-6" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">07</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f7.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-7" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">08</div>
                        <div class="country"> <img src="~/assets/user/img/elements/f8.jpg" alt="bayrak">Kanada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-8" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <h3>Image Gallery</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a href="~/assets/user/img/elements/g1.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g1.jpg);"></div></a>
                </div>
                <div class="col-md-4">
                    <a href="~/assets/user/img/elements/g2.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g2.jpg);"></div></a>
                </div>
                <div class="col-md-4">
                    <a href="~/assets/user/img/elements/g3.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g3.jpg);"></div></a>
                </div>
                <div class="col-md-6">
                    <a href="~/assets/user/img/elements/g4.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g4.jpg);"></div></a>
                </div>
                <div class="col-md-6">
                    <a href="~/assets/user/img/elements/g5.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g5.jpg);"></div></a>
                </div>
                <div class="col-md-4">
                    <a href="~/assets/user/img/elements/g6.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g6.jpg);"></div></a>
                </div>
                <div class="col-md-4">
                    <a href="~/assets/user/img/elements/g7.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g7.jpg);"></div></a>
                </div>
                <div class="col-md-4">
                    <a href="~/assets/user/img/elements/g8.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(../assets/user/img/elements/g8.jpg);"></div></a>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="mb-20">Resim Galerisi</h3>
                    <div class="typography">
                        <h1>Bu başlık 01</h1>
                        <h2>Bu başlık 02</h2>
                        <h3>Bu başlık 03</h3>
                        <h4>Bu başlık 04</h4>
                        <h5>Bu başlık 05</h5>
                        <h6>Bu başlık 06</h6>
                    </div>
                </div>
                <div class="col-md-4 mt-sm-30">
                    <h3 class="mb-20">Sırasız Liste</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Fta Anahtarları</li>
                            <li>Sadece Kadınlar İçin Bilgisayar Kullanımınız</li>
                            <li>
                                Mürekkep Püskürtmeli Baskının Çok Çekici Olmasının Nedenleri
                                <ul>
                                    <li>
                                        Kumar Bağımlılığı Haline Geldiğinde
                                        <ul>
                                            <li>Koruyucu Önleyici Bakım</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Teknik Destekle Başa Çıkma 10 Faydalı İpucu</li>
                            <li>Myspace'i En İyi Tasarlanmış Alanınız Yapma</li>
                            <li>Bilgisayarınızı Temizleme ve Düzenleme</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-sm-30">
                    <h3 class="mb-20">Sıralı Liste</h3>
                    <div class="">
                        <ol class="ordered-list">
                            <li><span>Fta Anahtarları</span></li>
                            <li><span>Sadece Kadınlar İçin Bilgisayar Kullanımınız</span></li>
                            <li>
                                <span>Mürekkep Püskürtmeli Baskının Çok Çekici Olmasının Nedenleri</span>
                                <ol class="ordered-list-alpha">
                                    <li>
                                        <span>Kumar Bağımlılığı Haline Geldiğinde</span>
                                        <ol class="ordered-list-roman">
                                            <li><span>Koruyucu Önleyici Bakım</span></li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li><span>Teknik Destekle Başa Çıkma 10 Faydalı İpucu</span></li>
                            <li><span>Myspace'i En İyi Tasarlanmış Alanınız Yapma</span></li>
                            <li><span>Bilgisayarınızı Temizleme ve Düzenleme</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Form Elemanı</h3>
                    <form action="#">
                        <div class="mt-10">
                            <input type="text" name="first_name" placeholder="Ad" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ad'" required class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="last_name" placeholder="Soyad" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Soyad'" required class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="email" name="EMAIL" placeholder="E-posta adresi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-posta adresi'" required class="single-input">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                            <input type="text" name="address" placeholder="Adres" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adres'" required class="single-input">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select">
                                <select>
                                    <option value="1">Şehir</option>
                                    <option value="1">Dhaka</option>
                                    <option value="1">Dilli</option>
                                    <option value="1">Newyork</option>
                                    <option value="1">Islamabad</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select">
                                <select>
                                    <option value="1">Ülke</option>
                                    <option value="1">Bangladeş</option>
                                    <option value="1">Hindistan</option>
                                    <option value="1">İngiltere</option>
                                    <option value="1">Sri Lanka</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-10">
                            <textarea class="single-textarea" placeholder="Mesaj" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesaj'" required></textarea>
                        </div>
                        <!-- For Gradient Border Use -->
                        <!-- <div class="mt-10">
                            <div class="primary-input">
                                <input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
                                <label for="primary-input"></label>
                            </div>
                        </div> -->
                        <div class="mt-10">
                            <input type="text" name="first_name" placeholder="Birincil renk" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Birincil renk'" required class="single-input-primary">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="first_name" placeholder="Vurgu rengi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Vurgu rengi'" required class="single-input-accent">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="first_name" placeholder="İkincil renk" onfocus="this.placeholder = ''" onblur="this.placeholder = 'İkincil renk'" required class="single-input-secondary">
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-4 mt-sm-30">
                    <div class="single-element-widget">
                        <h3 class="mb-30">Anahtarlar</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Örnek Anahtar</p>
                            <div class="primary-switch">
                                <input type="checkbox" id="default-switch">
                                <label for="default-switch"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Birincil Renk Anahtarı</p>
                            <div class="primary-switch">
                                <input type="checkbox" id="primary-switch" checked>
                                <label for="primary-switch"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Onay Renk Anahtarı</p>
                            <div class="confirm-switch">
                                <input type="checkbox" id="confirm-switch" checked>
                                <label for="confirm-switch"></label>
                            </div>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Seçim Kutuları</h3>
                        <div class="default-select" id="default-select">
                            <select>
                                <option value="1">İngilizce</option>
                                <option value="1">İspanyolca</option>
                                <option value="1">Arapça</option>
                                <option value="1">Portekizce</option>
                                <option value="1">Bengalce</option>
                            </select>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Onay Kutuları</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Örnek Onay Kutusu</p>
                            <div class="primary-checkbox">
                                <input type="checkbox" id="default-checkbox">
                                <label for="default-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Birincil Renk Onay Kutusu</p>
                            <div class="primary-checkbox">
                                <input type="checkbox" id="primary-checkbox" checked>
                                <label for="primary-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Onay Renk Onay Kutusu</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="confirm-checkbox">
                                <label for="confirm-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>04. Devre Dışı Bırakılmış Onay Kutusu</p>
                            <div class="disabled-checkbox">
                                <input type="checkbox" id="disabled-checkbox" disabled>
                                <label for="disabled-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>05. Devre Dışı Bırakılmış Onay Kutusu Aktif</p>
                            <div class="disabled-checkbox">
                                <input type="checkbox" id="disabled-checkbox-active" checked disabled>
                                <label for="disabled-checkbox-active"></label>
                            </div>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Radyo Düğmeleri</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Örnek radyo düğmesi</p>
                            <div class="primary-radio">
                                <input type="checkbox" id="default-radio">
                                <label for="default-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Birincil Renk radyo düğmesi</p>
                            <div class="primary-radio">
                                <input type="checkbox" id="primary-radio" checked>
                                <label for="primary-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Onay Renk radyo düğmesi</p>
                            <div class="confirm-radio">
                                <input type="checkbox" id="confirm-radio" checked>
                                <label for="confirm-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>04. Devre Dışı Bırakılmış radyo düğmesi</p>
                            <div class="disabled-radio">
                                <input type="checkbox" id="disabled-radio" disabled>
                                <label for="disabled-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>05. Devre Dışı Bırakılmış radyo düğmesi aktif</p>
                            <div class="disabled-radio">
                                <input type="checkbox" id="disabled-radio-active" checked disabled>
                                <label for="disabled-radio-active"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->