@{
	Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Fiyatlandırma Planı
				</h1>
				<p class="text-white link-nav"><a href="/">Ana Sayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Fiyatlandırma Planı</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Başlangıç Fiyat Alanı -->
<section class="price-area section-gap" id="price">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Sizin için en iyi fiyatlandırmayı seçin</h1>
					<p>Çevre dostu sistemlere büyük ilgi gösterenler için.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-price no-padding">
					<div class="price-top">
						<h4>Gerçek Temel</h4>
					</div>
					<ul class="lists">
						<li>2.5 GB Alan</li>
						<li>Güvenli Online Transfer</li>
						<li>Sınırsız Stiller</li>
						<li>Müşteri Hizmetleri</li>
					</ul>
					<div class="price-bottom">
						<div class="price-wrap d-flex flex-row justify-content-center">
							<span class="price">$</span><h1> 39 </h1><span class="time">Aylık</span>
						</div>
						<a href="#" class="primary-btn header-btn">Başlamak İçin</a>
					</div>

				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-price no-padding">
					<div class="price-top">
						<h4>Gerçek Standart</h4>
					</div>
					<ul class="lists">
						<li>10 GB Alan</li>
						<li>Güvenli Online Transfer</li>
						<li>Sınırsız Stiller</li>
						<li>Müşteri Hizmetleri</li>
					</ul>
					<div class="price-bottom">
						<div class="price-wrap d-flex flex-row justify-content-center">
							<span class="price">$</span><h1> 69 </h1><span class="time">Aylık</span>
						</div>
						<a href="#" class="primary-btn header-btn">Başlamak İçin</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-price no-padding">
					<div class="price-top">
						<h4>Gerçek Ultimate</h4>
					</div>
					<ul class="lists">
						<li>Sınırsız Alan</li>
						<li>Güvenli Online Transfer</li>
						<li>Sınırsız Stiller</li>
						<li>Müşteri Hizmetleri</li>
					</ul>
					<div class="price-bottom">
						<div class="price-wrap d-flex flex-row justify-content-center">
							<span class="price">$</span><h1> 99 </h1><span class="time">Aylık</span>
						</div>
						<a href="#" class="primary-btn header-btn">Başlamak İçin</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End price Area -->
<!-- Başlangıç Özellik Alanı -->
<section class="feature-area">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 feat-img no-padding">
				<img src="~/assets/user/img/pages/f1.jpg" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">Temel ve Ortak Onarımlar</h6>
				<h1>Biz Kimiz</h1>
				<p>
					Bilgisayar kullanıcıları ve programcılar, grafiksel değişiklikler ve görünümler için Windows'u kullanmaya o kadar alışmıştır ki.
				</p>
			</div>
			<div class="col-lg-3 feat-img no-padding">
				<img src="~/assets/user/img/pages/f2.jpg" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">Temel ve Ortak Onarımlar</h6>
				<h1>Ne Yapıyoruz</h1>
				<p>
					Bilgisayar kullanıcıları ve programcılar, grafiksel değişiklikler ve görünümler için Windows'u kullanmaya o kadar alışmıştır ki.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End feature Area -->
<!-- Başlangıç CV Gönderme Alanı -->
<section class="submit-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="submit-left">
					<h4>Bugün Özgeçmişinizi Gönderin</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
					</p>
					<a href="#" class="primary-btn header-btn">CV'nizi Gönderin</a>
				</div>
			</div>
			<div class="col-lg-6 ">
				<div class="submit-right">
					<h4>Şimdi Yeni Bir İş İlanı Yayınlayın!</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
					</p>
					<a href="#" class="primary-btn header-btn">İş İlanı Yayınla</a>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End submit Area -->